<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swordfish.pw.smackplus" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="pw.swordfish.smackplus.SmackPlusService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
